html, body {
    background-color: #343640;
    height: auto !important;
}

html, body, div, a, form {
    padding: 0;
    margin: 0;
}

#content {
    margin: 0 auto;
    width: 1200px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.content-box {
    border-radius: 6px;
    margin: 30px 0;
    overflow: hidden;
    border-collapse: separate;
    box-sizing: border-box;
    background-color:#ffffff;
    color: #1a1c21;
}

h1, h2 {
    font-weight: bold;
    margin: 0;

}

h1 {
    font-size: 28px;
    padding: 0 0 10px 0;
}

h2 {
    font-size: 18px;
    padding: 0 0 6px 0;
}

a, a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: #f64c3f;
}

.flex {
    display: flex;
}

#results.flex > div {
    width: 585px;
    margin: 0;
}

#results.flex > div:first-of-type {
    margin: 0 30px 0 0 !important;
}

#structure, #ngl {
    height: 585px;
    width: 585px;
    padding: 0;
}

md-content {
    background-color: white !important;
    width: 50%;
}

.md-button.md-fab {
    background-color: #f64c3f !important;
}

#residue-panel > span:hover {
    text-shadow: 1px 0 0 black;
    color: #176fc1;
}