<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">

        <title>early folding residue predictor</title>

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" media="screen" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="efpred/app.css">
    </head>
    <body data-ng-app="efr" data-ng-controller="ViewController as view">
        <div id="content">
            <div id="header" class="content-box md-padding">
                <h1>Prediction of Early Folding Residues</h1>

                <p>Protein folding is a little understood process. Interestingly, folding happens stepwise and a defined set of
                    residues initiates the process by folding early. Experimental data on early folding residues is provided
                    by the <a target="_blank" href="http://start2fold.eu/">Start2Fold</a> database. However, for most protein structure no data
                    is available.</p>

                <p>This is why we developed this resource which predicts the position of early folding residues from structure
                    data. Specify either a PDB-ID or upload your structure of interest. Several features are computed to describe
                    each residue in the structure and a trained model is used to predict individual residues as early or late folding.</p>

                <p>This demonstrates how a rather simple machine learning technique, called generalized matrix learning vector
                    quantization (GMLVQ), can be employed to create a sparse, interpretable classification model. The algorithm
                    is provided as plug-in of the popular <a target="_blank" href="https://www.cs.waikato.ac.nz/ml/weka/">Weka</a> machine
                    learning toolbox.</p>

                Please find...
                <div class="flex">
                    <md-content>
                        <ul>
                            <li>the preprint at: <a target="_blank" href="https://www.biorxiv.org/content/early/2018/08/07/381483">bioRxiv</a></li>
                            <li>the source code at: <a target="_blank" href="https://github.com/JonStargaryen/gmlvq">GitHub</a></li>
                        </ul>
                    </md-content>
                    <md-content>
                        <ul>
                            <li>the compiled Weka plug-in at: <a target="_blank" href="https://zenodo.org/record/1326272">Zenedo</a></li>
                            <li>the NGL viewer used for visualization at: <a target="_blank" href="https://github.com/arose/ngl">GitHub</a></li>
                        </ul>
                    </md-content>
                </div>

            </div>

            <div id="search" class="content-box">
                <form ng-submit="$event.preventDefault()" name="searchForm" class="flex">
                    <md-content class="md-padding">
                        <p>Select a PDB-chain:</p>
                        <md-autocomplete flex
                                         md-input-name="autocompleteField"
                                         md-selected-item="chain"
                                         md-search-text="searchText"
                                         md-items="item in querySearch(searchText)"
                                         md-floating-label="PDB-ID">
                            <md-item-template>
                                <span md-highlight-text="searchText">{{item}}</span>
                            </md-item-template>
                        </md-autocomplete>
                    </md-content>
                    <!-- https://stackoverflow.com/questions/31867194/file-upload-with-angular-material -->
                    <md-content class="md-padding">
                        <p>Upload custom 3D structure (only the first chain is considered):</p>
                        <choose-file layout="row">
                            <input id="fileInput" type="file" class="ng-hide">
                            <md-input-container flex class="md-block">
                                <input type="text"
                                       ng-model="filename"
                                       ng-readonly="true"
                                       aria-label="upload">
                                <div class="hint">Select your file</div>
                            </md-input-container>
                            <div>
                                <md-button id="uploadButton" class="md-fab md-mini">
                                    <md-icon class="material-icons">attach_file</md-icon>
                                </md-button>
                            </div>
                        </choose-file>
                    </md-content>
                </form>
            </div>

            <div id="results" class="flex" data-ng-show="valid">
                <div id="structure" class="content-box">
                    <div id="ngl"></div>
                </div>

                <div>
                    <div id="structure-description" class="content-box md-padding" style="margin: 0">
                        <h2>Structure Description</h2>
                        PDB-ID: <a target="_blank" data-ng-href="https://www.rcsb.org/structure/{{protein.pdbId}}">{{protein.pdbId}}</a><br />
                        Chain-ID: {{protein.chainId}}<br />
                        Title: {{protein.title}}
                    </div>

                    <div id="raw-data" class="content-box md-padding" style="margin: 30px 0 0 0">
                        <h2>Early Folding Residues</h2>

                        <div id="residue-panel">
                            <span data-ng-repeat="efr in protein.earlyFoldingResidues"
                                  data-ng-mouseover="select(efr)"
                                  data-ng-mouseleave="deselect()">
                                {{efr}}
                            </span>
                        </div>

                        <a download="classification.csv" data-ng-href="{{url}}">Download raw data in CSV format.</a>
                    </div>
                </div>
            </div>

            <div id="error" class="content-box md-padding" data-ng-show="error">
                <h2>An {{errorException}} occurred!</h2>

                {{errorMessage}}
            </div>

            <div id="processing" class="content-box md-padding" data-ng-show="processing">
                <h2>Please wait.</h2>

                Your query is being processed by the server. This can take some minutes for large protein chains. The page
                will automatically display results once ready.
            </div>
        </div>

        <script src="//code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
        <script src="efpred/app.js"></script>
        <script src="efpred/ngl.js"></script>
    </body>
</html>